.Message-Box{
    background-color: darksalmon;
    border-radius: 8px;
    color: white;
    display:block;
    margin: 2px auto;
    max-width: 300px;  
    animation: Message-Box-Dissolve 3s
}
/*
@keyframes Message-Box-Dissolve{
  from { background-color: red; }
  to { background-color: green; }
}*/