.PasteCreator-text-area *{
    min-width: 70%;
    min-height: 400px;
    max-width: 1900px;
}
.PasteCreator-controlDiv{
    margin:auto;
    margin-top: 10px;
    max-width: 250px;
    padding: 15px;
    background-color: deepskyblue;
    color:white;
    border-radius: 12px;
}
.PasteCreator-controlDiv span{
    display:block;
    padding: 5px 5px 2px 2px;
    text-align: left;
}
.PasteCreator-controlDiv span *{
    display:inline;
    margin:2px;
}
.PasteCreator-controlDiv span option{
    display:block;   
}