.PasteTable {
  text-align: center;
  margin: auto auto;
  border-collapse: collapse;  
  min-width: 500px;
}
.PasteTable td{
  padding: 5px 10px;
}
.PasteTable thead{
  background-color:deepskyblue;
}
.PasteTable  tr:nth-child(even) {
  background-color: lavender;
}
